<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Content/assets/css/bootstrap.css">
    <link href="/Content/fontawesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link href="/Content/assets/css/app.css" rel="stylesheet" />
    <link href="/Content/css/gr-admin-mobile.css" rel="stylesheet" media="screen and (max-width:767px)" />
    <link href="/Content/css/gr-admin-desktop.css" rel="stylesheet" media="screen and (min-width:768px)" />
    <link href="/Content/assets/datepicker.min.css" rel="stylesheet" />
    <link href="/Content/assets/vendors/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="/Content/assets/vendors/toastify/toastify.css" rel="stylesheet" />
    <style>
        .burger-btn {
            width: 30px;
            height: 30px;
            align-items: center;
            justify-content: center;
        }

        #main #main-content {
            padding-top: 0;
        }

        .product-page-list {
            display: flex;
            justify-content: center;
            gap: 10px;
            background-color: white;
            padding: 20px;
        }

            .product-page-list > a {
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                font-size: 13px;
                cursor: pointer;
            }

            .product-page-list .active {
                background-color: #3f87f5;
                color: white !important;
            }
    </style>
    @RenderSection("styles", false)
</head>
<body>

    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active" style="display: flex; flex-direction: column;">
                <div class="sidebar-header">

                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index.html"><img src="/Content/assets/images/logo/logo.png" /></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="fa-solid fa-xmark fa-xs"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu" style="flex: 1;">
                    <ul class="menu" style="flex:1;">
                        <li class="sidebar-item @(ViewBag.Menu == "dashboard" ? "active":"")">
                            <a href="/admin" class='sidebar-link'>
                                <i class="fa-solid fa-gauge"></i>
                                <span>Tổng quan</span>
                            </a>
                        </li>
                        <li class="sidebar-item  @(ViewBag.Menu == "product" ? "active":"")">
                            <a href="/admin/product" class='sidebar-link'>
                                <i class="fa-solid fa-grip"></i>
                                <span>Quản lý Sản phẩm</span>
                            </a>
                        </li>
                        <li class="sidebar-item @(ViewBag.Menu == "manage-user" ? "active" : "")">
                            <a href="/admin/ManageUser" class="sidebar-link">
                                <i class="fa-solid fa-users"></i>
                                <span class="title">Quản lý Người dùng</span>

                            </a>
                        </li>
                        <li class="sidebar-item @(ViewBag.Menu == "manage-withdraw" ? "active" : "")">
                            <a href="/admin/ManageWithdraw" class="sidebar-link">
                                <i class="fa-solid fa-money-bill"></i>
                                <span class="title">Quản lý Lệnh rút</span>

                            </a>
                        </li>
                        <li class="sidebar-item @(ViewBag.Menu == "manage-rank" ? "active" : "")">
                            <a href="/admin/ManageRank" class="sidebar-link">
                                <i class="fa-solid fa-ranking-star"></i>
                                <span class="title">Quản lý Hạng</span>

                            </a>
                        </li>
                        <li class="sidebar-item @(ViewBag.Menu == "waiting-line" ? "active" : "")">
                            <a href="/admin/ManageWaitingLine" class="sidebar-link">
                                <i class="fa-solid fa-layer-group"></i>
                                <span class="title">Quản lý Hàng chờ</span>

                            </a>
                        </li>
                        <li class="sidebar-item @(ViewBag.Menu == "manage-bank" ? "active" : "")">
                            <a href="/admin/ManageSystemBank" class="sidebar-link">
                                <i class="fa-solid fa-building-columns"></i>
                                <span class="title">Quản lý TK Ngân Hàng Hệ Thống</span>

                            </a>
                        </li>
                        <li class="sidebar-item @(ViewBag.Menu == "system-config" ? "active" : "")">
                            <a href="/admin/SystemConfig" class="sidebar-link">
                                <i class="fa-solid fa-gears"></i>
                                <span class="title">Cập nhật thông số hệ thống</span>

                            </a>
                        </li>
                        <li class="sidebar-item ">
                            <a onclick="LogOut()" class='sidebar-link' style="color: #d42020;">
                                <i class="fa-solid fa-arrow-right-from-bracket" style="color: #d42020!important"></i>
                                <span>Đăng xuất</span>
                            </a>
                        </li>

                    </ul>

                </div>

                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main" class='layout-navbar'>
            <header class='mb-3'>
                <nav class="navbar navbar-expand navbar-light ">
                    <div class="container-fluid" style="display:flex;justify-content:space-between;">
                        <a href="#" class="burger-btn d-flex">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent" style=" width: auto;">

                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="user-menu d-flex">
                                        <div class="user-name text-end me-3">
                                            <h6 class="mb-0 text-gray-600">John Ducky</h6>
                                            <p class="mb-0 text-sm text-gray-600">Administrator</p>
                                        </div>
                                        <div class="user-img d-flex align-items-center">
                                            <div class="avatar avatar-md">
                                                <img src="/Content/assets/images/faces/1.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </nav>
            </header>

            <div id="main-content">


                <div class="page-content">
                    @RenderBody()
                </div>

            </div>

        </div>
    </div>


    <script src="/Content/js/jquery-3.6.0.min.js"></script>
    <script src="/Content/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/Content/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/js/helper.js"></script>
    <script src="/Content/js/datepicker.min.js"></script>
    <script src="/Content/assets/js/main.js"></script>
    <script src="/Content/js/helper.js"></script>
    <script src="/Content/assets/vendors/toastify/toastify.js"></script>
    <script src="/Content/assets/vendors/sweetalert2/sweetalert2.all.min.js"></script>
    <script>
        const LogOut = async () => {
            if (confirm('Bạn có chắc muốn đăng xuất khỏi hệ thống') === false) return;

            let rq = await fetch('/api/adminsystem/logout', {
                method: 'get',
                headers: Enum.OptionAdminHeaderDefault
            })
            let rs = await rq.json();
            if (AdminCheckErrorResponse(rs) === false) return;
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                EraseCookie('UserAdminToken');
                window.location.href = '/admin/home/login';
            }
        }
    </script>
    @RenderSection("scripts", false)
</body>
</html>