<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Content/assets/css/bootstrap.css">
    <link href="/Content/fontawesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link href="/Content/assets/css/app.css" rel="stylesheet" />
    <link href="/Content/css/gr-mobile.css" rel="stylesheet" media="screen and (max-width:767px)" />
    <link href="/Content/css/gr-desktop.css" rel="stylesheet" media="screen and (min-width:768px)" />
    <link href="/Content/assets/datepicker.min.css" rel="stylesheet" />
    <link href="/Content/assets/vendors/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="/Content/assets/vendors/toastify/toastify.css" rel="stylesheet" />
    <style>
        .burger-btn {
            width: 30px;
            height: 30px;
            align-items: center;
            justify-content: center;
        }
    </style>
    @RenderSection("styles", false)
</head>
<body>

    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active" style="display: flex; flex-direction: column;">
                <div class="sidebar-header">

                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="/"><img  src="/Content/assets/images/logo/logo.png" /></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="fa-solid fa-xmark fa-xs"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu" style="flex: 1;">
                    <ul class="menu" style="flex:1;">
                        <li class="sidebar-item  @(ViewBag.Menu == "introduce" ? "active":"")">
                            <a href="/gioi-thieu" class='sidebar-link'>
                                <i class="fa-brands fa-readme"></i>
                                <span>Giới thiệu</span>
                            </a>
                        </li>

                        <li class="sidebar-item  @(ViewBag.Menu == "dashboard" ? "active":"") require-login">
                            <a href="/" class='sidebar-link'>
                                <i class="fa-solid fa-gauge"></i>
                                <span>Tổng quan</span>
                            </a>
                        </li>

                        <li class="sidebar-item @(ViewBag.Menu == "user" ? "active":"") has-sub require-login">
                            <a href="#" class='sidebar-link'>
                                <i class="fa-solid fa-arrow-right-arrow-left"></i>
                                <span>Giao dịch</span>
                            </a>
                            <ul class="submenu @(ViewBag.Menu == "user" ? "active":"")">
                                <li class="submenu-item @(ViewBag.SubMenu == "wallet" ? "active":"")">
                                    <a href="/nguoi-dung/vi">Ví</a>
                                </li>

                            </ul>
                        </li>

                        <li class="sidebar-item @(ViewBag.Menu == "connect-member" ? "active":"") require-login">
                            <a href="/ketnoi" class='sidebar-link'>
                                <i class="fa-solid fa-link"></i>
                                <span>Kết nối thành viên</span>
                            </a>
                        </li>

                        <li class="sidebar-item @(ViewBag.Menu == "notification" ? "active":"") require-login">
                            <a href="/thong-bao" class='sidebar-link'>
                                <i class="fa-solid fa-bell"></i>
                                <span>Thông báo</span>
                            </a>
                        </li>

                        <li class="sidebar-item @(ViewBag.Menu == "user-quest" ? "active":"") require-login">
                            <a href="/nguoi-dung/nhiem-vu" class='sidebar-link'>
                                <i class="fa-solid fa-clipboard-question"></i>
                                <span>Nhiệm vụ</span>
                            </a>
                        </li>

                        <li class="sidebar-item @(ViewBag.Menu == "bank-info" ? "active":"") require-login">
                            <a href="/nguoi-dung/tai-khoan-ngan-hang" class='sidebar-link'>
                                <i class="fa-solid fa-building-columns"></i>
                                <span>Tài khoản ngân hàng</span>
                            </a>
                        </li>

                        <li class="sidebar-item @(ViewBag.Menu == "user-info" ? "active":"") require-login">
                            <a href="/nguoi-dung/thong-tin" class='sidebar-link'>
                                <i class="fa-solid fa-user-gear"></i>
                                <span>Tài khoản</span>
                            </a>
                        </li>

                        <li class="sidebar-item require-login">
                            <a onclick="LogOut()" class='sidebar-link' style="color: #d42020;">
                                <i class="fa-solid fa-arrow-right-from-bracket" style="color: #d42020!important"></i>
                                <span>Đăng xuất</span>
                            </a>
                        </li>

                        <li class="sidebar-item require-logout">
                            <a href="/dang-nhap" class='sidebar-link'>
                                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                                <span>Đăng nhập</span>
                            </a>
                        </li>

                        <li class="sidebar-item require-logout">
                            <a href="/dang-ky" class='sidebar-link' >
                                <i class="fa-solid fa-user-plus"></i>
                                <span>Đăng ký</span>
                            </a>
                        </li>

                    </ul>

                </div>

                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main" class='layout-navbar'>
            <header class='mb-3'>
                <nav class="navbar navbar-expand navbar-light ">
                    <div class="container-fluid" style="display:flex;justify-content:space-between;">
                        <a href="#" class="burger-btn d-flex">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent" style=" width: auto;">

                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="user-menu d-flex">
                                        <div class="user-name text-end me-3">
                                            <h6 class="mb-0 text-gray-600" id="user-name"></h6>
                                            <p class="mb-0 text-sm text-gray-600" id="user-account"></p>
                                        </div>
                                        <div class="user-img d-flex align-items-center">
                                            <div class="avatar avatar-md">
                                                <img src="/Content/assets/images/faces/1.jpg" id="user-avatar">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="approve-status">

                </div>
            </header>

            <div id="main-content">
                <div class="page-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>


    <script src="/Content/js/jquery-3.6.0.min.js"></script>
    <script src="/Content/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/Content/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/assets/vendors/toastify/toastify.js"></script>
    <script src="/Content/assets/vendors/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="/Content/js/datepicker.min.js"></script>
    <script src="/Content/assets/js/main.js"></script>
    <script src="/Content/js/helper.js"></script>
    <script>

        const GetUserLayoutInfo = async function () {
            let rq = await fetch(Enum.ApiUrl + '/api/user/GetInforUser', {
                method: 'get',
                headers: Enum.OptionHeaderDefault,
            });
            let rs = await rq.json();
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                $('.require-login').css('display', 'list-item');
                $('.require-logout').css('display', 'none');

                $('#user-avatar').attr('src', GetObjectProperty(rs.data, 'Avatar'));
                $('#user-name').text(GetObjectProperty(rs.data, 'Name'));
                $('#user-account').text(GetObjectProperty(rs.data, 'Account'));
            }
            else {
                $('.require-login').css('display', 'none');
                $('.require-logout').css('display', 'list-item');
            }
        }
        GetUserLayoutInfo();

        const LogOut = async () => {
            Swal.fire({
                icon: "question",
                title: "Bạn có chắc muốn đăng xuất tài khoản khỏi hệ thống?",
                showCancelButton: true,
                preConfirm: async function () {
                    ///    const userToken = GetCookie('UserToken');
                    let rq = await fetch('/api/user/logout', {
                        method: 'get',
                        headers: Enum.OptionHeaderDefault
                    });
                    let rs = await rq.json();
                    if (CheckErrorResponse(rs) === false) return;
                    EraseCookie('UserToken');
                    window.location.href = '/dang-nhap';
                },
                didClose: function () {
                    return;
                }
            })
        }
        const GetUserProperties = async function () {
            let rq = await fetch(Enum.ApiUrl + '/api/UserProperties/GetUserPropertiesByUserId', {
                method: 'get',
                headers: Enum.OptionHeaderDefault,
            });
            let rs = await rq.json();
           // if (CheckErrorResponse(rs) === false) return;
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                if (rs.data.Status === 'CANCEL') {
                    $('.layout-navbar .approve-status').html(`
                        <a href="/nguoi-dung/xac-thuc-tai-khoan">
                           <div class="alert alert-light-danger approve">
                            <i class="fa-solid fa-circle-exclamation"></i>
                            Tài khoản của bạn chưa được xác thực. Vui lòng xác thực để có thể dùng được đầy đủ chức năng của hệ thống!
                           </div>
                        </a>`
                    );
                }
                if (rs.data.Status === 'PENDING') {
                    $('.layout-navbar .approve-status').html(`
                        <a href="/nguoi-dung/xac-thuc-tai-khoan">
                           <div class="alert alert-light-warning approve" >
                            <i class="fa-solid fa-circle-exclamation"></i>
                           </div>
                            Tài khoản của bạn đang chờ được duyệt!
                        </a>`
                    );
                }
                if (rs.data.Status === 'DONE') {
                    $('.layout-navbar .approve-status').html(``);
                }
            }
        }

        GetUserProperties();
    </script>
    @RenderSection("scripts", false)
</body>
</html>